In [1]:
# Menggunakan pandas data frame

data = {
    'apples' : [3, 2, 0, 1],
    'oranges' : [0, 3, 7, 2]
    }
data

{'apples': [3, 2, 0, 1], 'oranges': [0, 3, 7, 2]}

In [2]:
import pandas as pd

purchases = pd.DataFrame(data)
purchases

   apples  oranges
0       3        0
1       2        3
2       0        7
3       1        2

In [3]:
purchases = pd.DataFrame(data, index=['Farhan', 'Ahmad', 'Ghifari', 'Wijaya'])
purchases

         apples  oranges
Farhan        3        0
Ahmad         2        3
Ghifari       0        7
Wijaya        1        2

In [4]:
purchases.loc['Farhan']

apples     3
oranges    0
Name: Farhan, dtype: int64

In [7]:
# Tugas : tampilkan data masing2 pembelian dan juga sebaliknya
purchases.loc['Ahmad']

apples     2
oranges    3
Name: Ahmad, dtype: int64

In [14]:
purchases.head(0)

Empty DataFrame
Columns: [apples, oranges]
Index: []

In [15]:
purchases.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, Farhan to Wijaya
Data columns (total 2 columns):
apples     4 non-null int64
oranges    4 non-null int64
dtypes: int64(2)
memory usage: 256.0+ bytes

In [16]:
purchases.shape

(4, 2)